.About {
  margin: 241px auto 0;
  width: 100%;
  max-width: 1130px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 auto;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .container {
    margin: 45px auto 0;
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 1210px){
      & {
        flex-direction: column;
      }
    }

    p {
      width: 100%;
      max-width: 551px;
      padding: 40px 33px 40px 0;
      border-right: 1px solid rgba(66, 66, 66, .2);
      font-weight: 300;
      font-size: 23px;
      line-height: 28px;

      @media (max-width: 1210px){
        & {
          padding: 0 0 70px 0;
          margin: 0 auto;
          text-align: center;
          border-right: 0;
        }
      }
    }

    img {
      margin-left: 39px;
      width: 490px;
      height: 311px;
      animation: 2s ease-in-out floating infinite;
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5px);
  }
}
